.wholeSite {
    width: 100vh;
    height: 100vh;
    min-width: 650px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.topNav {
    height: 3.75rem;
    width: 95vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    position: relative;
    top: 0;
    left: 0;
    /* bottom: 0; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    background-color: #111
}

.searchBox {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: white;
    border-radius: 1.375rem;
    min-width: 16.75rem;
}

.searchBar {
    height: 2rem;
    background-color: transparent;
    border-color: transparent;
    /* position: relative; */
    color: #666;
    /* right: 0; */
    /* width:  */
    /* margin-top: 20%; */
}

.searchBar:focus {
    outline: none;
}

.searchIcon {
   margin: 0 10px;
}

.subNav {
    display: flex;
    width: 15vw;
    justify-content: right;
    align-items: center;
}

.navButtons {
    margin: .9375rem;
}