.homeFeed{
    width: 86%;
    color: black;
}

.filters {
    display: flex;
    justify-content: left;
    align-items: center;
}

.filterButton {
    height: 2.5rem;
    margin-right: 10px;
    background-color: var(--blue);
}

.filters,p {
    margin-right: 10px;
}